<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FindActivity"
            android:label="@string/app_name">
            <!--意图过滤器指定组件可以接受哪种类别的意图-->
            <!--没有意图过滤器时组件无法由隐式意图启动，只能由意图使用完全限定组件名启动-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--只能以完全限定组件名启动-->
        <activity
            android:name=".ReceiveMessageActivity"
            android:label="@string/title_activity_receive_message">
        </activity>
    </application>

</manifest>